/* Styling for jumbotron */
.jumbotron {
    background-color: #fff;
    color:rgb(61, 97, 145);
    text-align: center;
}
.my-4 {
    border-color: rgb(61, 97, 145);
}

.table {
    width: 80%;
    margin: 0 auto 0 auto;
}

.table-bordered .table-bordered {
    border-color: rgb(167, 137, 201);
    border-style: solid;
    border-width: 2px;
}

#displayMoment {
    text-align: center;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    padding: 15px;
    font-size: 22px;
    margin: 0 auto 0 auto;
}

.d-flex {
    background-color: rgb(125, 170, 228);
}


